<div class="todo-table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">All Tasks</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todos %}
      <tr>
        {% if todo.complete == true %}
        <td>
          <span style="color: black; text-decoration: line-through">
            <span style="color: #b1b1b1"> {{ todo.text }} </span>
          </span>
        </td>
        {% else %}
        <td>{{ todo.text }}</td>
        {% endif %}
        <td>
          <a
            href="{{ url_for('main.edit', id=todo._id) }}"
            class="btn btn-light btn-sm"
          >
            <i class="bi bi-pencil-square"></i>
          </a>
          <a
            class="btn btn-light btn-sm"
            href="{{ url_for('main.done', id=todo._id) }}"
          >
            <i class="bi bi-check2-square"></i>
          </a>
          <a
            class="btn btn-light btn-sm"
            href="{{ url_for('main.delete', id=todo._id) }}"
          >
            <i class="bi bi-trash3"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
